html {
    font-size: 22px;
}

body {
    background-color: #000000;
    color: rgb(16, 0, 247);
}

a {
    color: rgb(13, 91, 236);
}

a:visited {
    color: rgb(88, 231, 5);
}

a:hover, a:active {
    color: #0b65ec;
}